data.csv
date_checker.py
e.py
datalinks.csv
testo.csv
datalinkss.csv
mainCSV
automated
jsonHandler.pys
__pycache__
jsonHandler.py
.env
upload_master.py
e.csv
Pipfile
Pipfile.lock
FebruarVotes.csv
cache.json
launch.json
data/top_10_master_archive.csv
data/cookies.txt
outputs/*.csv
outputs/*.txt
