data.csv
date_checker.py
e.py
datalinks.csv
testo.csv
datalinkss.csv
mainCSV
automated
jsonHandler.pys
__pycache__
jsonHandler.py
.env
upload_master.py
e.csv
Pipfile
Pipfile.lock
.env
FebruarVotes.csv
cache.json
launch.json
unimplemented