data.csv
date_checker.py
e.py
datalinks.csv
testo.csv
datalinkss.csv
mainCSV
automated
jsonHandler.pys
__pycache__
jsonHandler.py
.env
upload_master.py
The_Top_10_Pony_Videos_of_February_2024_Responses_-_Form_Responses_1.csv